<div>
    <p>Olá {username}, a tua conta foi bloqueada e precisamos da tua ajuda para resolver esta situação.</p>
    <p>O teu anúncio {advert} levantou algumas duvidas junto da nossa equipa de validação e precisamos de mais informações.</p>
    <h5>A baixo poderás ver uma lista de informações que poderás fornecer:</h5>
    <p>- Fatura do artigo e o teu documento de identificação;</p>
    <p>- Fotografias do artigo com o documento de identificação ao lado;</p>
    <p>Para dar continuidade a este procedimento deves responder sempre a este email ou contactar-nos através do site <a href="https://www.openmarket.com/contacte-nos">aqui</a></p>
    <h5>Até esta situação estar resolvida a tua conta estará inacessível e todos os anúncios estarão desativos.</h5>
    <h4 style="margin-top: 30px;">Obrigado por usar o OpenMarket - O maior site de classificados em Portugal</h4>
    <a href="https://www.openmarket.com">www.openmarket.com</a>
</div>