    <p>Olá {username}, o teu anúncio está a ser analisado, mas precisamos da tua ajuda para finalizar a validação.</p>
    <p>Esta é a mensagem da nossa equipa:</p>

    <p style="font-style: italic; font-weight: bold;">"{body}"</p>

    <p style="font-weight: bold;">Responde a este email o mais breve possivel para que possamos finalizar o processo.</p>
    <p>Caso tenha sido sugerida alguma alteração ao anúncio podes aceder à tua conta através deste <a href="https://www.openmarket.com/entrar">link</a></p>
    
    <h4>Dados do anúncio</h4>
    <p>ID: {advert_id}</p>
    <p>Titulo: {advert_title}</p>
    <p>Data: {advert_date}</p>

    <p style="text-decoration: underline;">Este é um procedimento normal realizado pela equipa de gestão de anúncios de forma a melhorar os anúncios do OpenMarket.</p>
    <p>Trabalhamos diáriamente para tornar o fazKumbu num site cada vez mais completo e seguro.</p>
    <h4 style="margin-top: 30px;">Obrigado por usar o OpenMarket - O maior site de classificados em Portugal</h4>
    <a href="https://www.openmarket.com">www.openmarket.com</a>