    <p>Olá {username}, o teu anúncio <span style="font-style:italic;">"{title}"</span> expirou.</p>
    <p>Os anúncios publicados gratuitamente no OpenMarket tem uma validade de 180 dias após a publicação.</p>
    <h4>E agora, o que posso fazer?</h4>
    <p>Entra na tua <a href="www.openmarket.com/entrar">conta</a>, clica no anúncio e depois em <span style="font-weight: bold;">Activar</span>.</p>
    <p>A ativação de anúncios é gratuita e por mais 180 dias.</p>
    <h4>Porque acontece isto?</h4>
    <p>Muitos anunciantes vendem os seus produtos, mas não os desactivam ou classificam como vendido.</p>
    <p>Isto leva a que os utilizadores encontrem os anúncios, contactem o anunciante e só nesse momento descobrem que o produto já não existe.</p>
    <p>Ao desactivar os anúncios ao fim de 180 dias, estamos a contribuir para minimizar este problema de anúncios desatualizados.</p>

    <h4 style="margin-top: 30px;">Obrigado por usares o OpenMarket - O maior site de classificados em Portugal</h4>
    <a href="https://www.openmarket.com">www.openmarket.com</a>