<div>
    <h4>Olá {username}, o teu registo foi concluído com sucesso.</h4>
    <p>No OpenMarket podes criar os teus anúncios de forma gratuita e fácil.</p>
    <p>O nosso site reune compradores e vendedores de todos os cantos de Portugal, criando assim o local perfeito para a criação de negócios.</p>
    <p>O nosso foco está acente em 3 pontos: Facilidade de utilização, funcionalidades e segurança.</p>
    <p>Caso tenhas alguma duvida ou queiras nos contactar entra neste <a href="https://openmarket.com/contacte-nos">link</a></p>
</div>
<h4>Com os melhores cumprimentos, <br/>
A equipa do OpenMarket</h4>
<a href="https://www.openmarket.com">www.openmarket.com</a>