<div>
    <h2>Recuperação de password</h2>
    <p>Solicitou a recuperação da palavra-passe por email.</p>
    <p>Com a senha a baixo, aceda a <a href="https://www.openmarket.com/entrar">OpenMarket - Entrar</a></p>
    <p>Recomendamos que troque a palavra-passe, enviada neste email, por uma nova.</p>
    
    <h4 style="margin-top: 20px;">Dados de sessão:</h4>
    <p>Email: {mail}</p>
    <p>Senha: {password}</p>

    <h4 style="margin-top: 30px;">Obrigado por usar o OpenMarket - O maior site de classificados de Portugal.</h4>
    <a href="https://www.openmarket.com">www.openmarket.com</a>
</div>